# CLASS VARIABLES

In [19]:
#CLASS VARIABLES  
#these are shared among all instances of a class

class Employee:
  raise_amount = 1.04   #defining a class variable


  def __init__(self,first,last,pay):
    self.first = first     
    self.last = last    
    self.pay = pay
    self.email = f'{first}.{last}@gmail.com' 
  def fullName(self):
    return f'{self.first}.{self.last}'
  def apply_raise(self):
    self.pay = int(self.pay* self.raise_amount)  #can be accessed through the class itself or an instance of a class
    return self.pay


emp_1 = Employee('Rahul','Gupta',50000)
emp_2 = Employee('Corey','Schafer',180000)


print(emp_1.apply_raise())

52000

In [22]:
class Employee:
  raise_amount = 1.04  


  def __init__(self,first,last,pay):
    self.first = first     
    self.last = last    
    self.pay = pay
    self.email = f'{first}.{last}@gmail.com' 
  def fullName(self):
    return f'{self.first}.{self.last}'
  def apply_raise(self):
    self.pay = int(self.pay* self.raise_amount)  
    return self.pay


emp_1 = Employee('Rahul','Gupta',50000)
emp_2 = Employee('Corey','Schafer',180000)

#accessed through instances or the class itself
# print(emp_1.raise_amount)
# print(emp_2.raise_amount)
# print(Employee.raise_amount)

# print(emp_1.__dict__)
# print(Employee.__dict__)

{'__module__': '__main__', 'raise_amount': 1.04, '__init__': <function Employee.__init__ at 0x7f249bce88c0>, 'fullName': <function Employee.fullName at 0x7f249bce8dd0>, 'apply_raise': <function Employee.apply_raise at 0x7f249bce8710>, '__dict__': <attribute '__dict__' of 'Employee' objects>, '__weakref__': <attribute '__weakref__' of 'Employee' objects>, '__doc__': None}

In [29]:
class Employee:
  raise_amount = 1.04  


  def __init__(self,first,last,pay):
    self.first = first     
    self.last = last    
    self.pay = pay
    self.email = f'{first}.{last}@gmail.com' 
  def fullName(self):
    return f'{self.first}.{self.last}'
  def apply_raise(self):
    self.pay = int(self.pay* self.raise_amount)  
    return self.pay


emp_1 = Employee('Rahul','Gupta',50000)
emp_2 = Employee('Corey','Schafer',180000)

# changed the value of the class variable outside the class

#changes the value of raise_amount for the entire class
Employee.raise_amount = 1.05

#changes the value for that specific class
emp_1.raise_amount = 1.06


print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)
print(emp_1.apply_raise())
print(emp_2.apply_raise())

1.05
1.06
1.05
53000
189000

In [30]:
#in this example we want to keep track of how many employees we have

class Employee:
  raise_amount = 1.04  
  no_of_emps = 0

  #Constructor
  def __init__(self,first,last,pay):
    self.first = first     
    self.last = last    
    self.pay = pay
    self.email = f'{first}.{last}@gmail.com'
    Employee.no_of_emps += 1


  def fullName(self):
    return f'{self.first}.{self.last}'


  def apply_raise(self):
    self.pay = int(self.pay* self.raise_amount)  
    return self.pay


emp_1 = Employee('Rahul','Gupta',50000)
emp_2 = Employee('Corey','Schafer',180000)


print(Employee.no_of_emps)

2

# Practise

In [6]:
class Book:
  def __init__(self):
    self.name = 'Harry Potter'
    self.author = 'Jk Rowling'

Book1 = Book()

In [7]:
print(Book1.name)

Harry Potter

In [9]:
class Book:
  def __init__(self,name = 'How to win friends',author = 'Dale carneige'):
    self.name = name
    self.author = author

Book1 = Book('Harry Potter','J.k rOWLING')
print(Book1.author)

J.k rOWLING

In [14]:
class Book:
  def __init__(self,name = 'How to win friends',author = 'Dale carneige'):
    self.name = name
    self.author = author
  def print_info(self,num):
    print(f'the name is {self.name}')
    print(f'the author is {self.author}')
    print(f'the num is {num}')
Book1 = Book('Harry','Jk')
print(Book1.author)

Book1.print_info(123)

Jk
the name is Harry
the author is Jk
the num is 123

In [35]:
class Dog:
  attr1 = 'mammal'
  attr2 = 'dog'

  def fun(self):
    print(f'{self.attr1}')
    print(f'{self.attr2}')


Dog1 = Dog()
Dog1.attr1 = 'Fish'

Dog1.fun()

Fish
dog