In [1]:
import pandas as pd

In [2]:
people = {
    'first_name' : ['Rahul','surbhi','ekta'],
    'last_name' : ['Gupta','Bhandari','Sharma/Sadana'],
    'email' : ['pcterahulbca21b@gmail.com','surbhi_bhandari@gmail.com','ektaraora@gmail.com']
}

In [3]:
dict_df = pd.DataFrame(people)

In [4]:
dict_df

  first_name      last_name                      email
0      Rahul          Gupta  pcterahulbca21b@gmail.com
1     surbhi       Bhandari  surbhi_bhandari@gmail.com
2       ekta  Sharma/Sadana        ektaraora@gmail.com

In [7]:
#setting of a custom index
# dict_df.set_index('email') for temporary viewing 
# for a more permanent change

dict_df.set_index('email', inplace = True)

In [8]:
dict_df

                          first_name      last_name
email
pcterahulbca21b@gmail.com      Rahul          Gupta
surbhi_bhandari@gmail.com     surbhi       Bhandari
ektaraora@gmail.com             ekta  Sharma/Sadana

In [9]:
#reversing the indexing change
dict_df.reset_index(inplace = True)

In [10]:
dict_df

                       email first_name      last_name
0  pcterahulbca21b@gmail.com      Rahul          Gupta
1  surbhi_bhandari@gmail.com     surbhi       Bhandari
2        ektaraora@gmail.com       ekta  Sharma/Sadana

In [11]:
dict_df.set_index('first_name', inplace = True)

In [12]:
dict_df

                                email      last_name
first_name
Rahul       pcterahulbca21b@gmail.com          Gupta
surbhi      surbhi_bhandari@gmail.com       Bhandari
ekta              ektaraora@gmail.com  Sharma/Sadana

In [16]:
#indexes are labels for rows, we can access them using loc

# dict_df.loc['Rahul']
# dict_df.loc[['Rahul','surbhi']]

                                email last_name
first_name
Rahul       pcterahulbca21b@gmail.com     Gupta
surbhi      surbhi_bhandari@gmail.com  Bhandari

In [17]:
#sorting the indexes 

dict_df.sort_index()

                                email      last_name
first_name
Rahul       pcterahulbca21b@gmail.com          Gupta
ekta              ektaraora@gmail.com  Sharma/Sadana
surbhi      surbhi_bhandari@gmail.com       Bhandari

In [18]:
peoples = {
    'first_name' : ['Rahul','surbhi','ekta','karishma'],
    'last_name' : ['Gupta','Gupta','Sharma/Sadana/Gupta','Narula'],
    'email' : ['pcterahulbca21b@gmail.com','surbhi_bhandari@gmail.com','ektaraora@gmail.com','kr_narula@gmail.com']
}

dict_df = pd.DataFrame(peoples)

In [19]:
dict_df

  first_name            last_name                      email
0      Rahul                Gupta  pcterahulbca21b@gmail.com
1     surbhi                Gupta  surbhi_bhandari@gmail.com
2       ekta  Sharma/Sadana/Gupta        ektaraora@gmail.com
3   karishma               Narula        kr_narula@gmail.com

In [21]:
dict_df.set_index('first_name', inplace = True)

In [23]:
dict_df

                      last_name                      email
first_name
Rahul                     Gupta  pcterahulbca21b@gmail.com
surbhi                    Gupta  surbhi_bhandari@gmail.com
ekta        Sharma/Sadana/Gupta        ektaraora@gmail.com
karishma                 Narula        kr_narula@gmail.com

In [24]:
dict_df['last_name']

first_name
Rahul                     Gupta
surbhi                    Gupta
ekta        Sharma/Sadana/Gupta
karishma                 Narula
Name: last_name, dtype: object

# CREATING FILTERS AND WORKING WITH THEM

In [25]:
filt = (dict_df['last_name'] == 'Gupta')

dict_df.loc[filt]

           last_name                      email
first_name
Rahul          Gupta  pcterahulbca21b@gmail.com
surbhi         Gupta  surbhi_bhandari@gmail.com

In [26]:
dict_df.loc[~filt]

                      last_name                email
first_name
ekta        Sharma/Sadana/Gupta  ektaraora@gmail.com
karishma                 Narula  kr_narula@gmail.com

In [27]:
names = ['Gupta','Narula']

country_filter = (dict_df['last_name'].isin(names))

dict_df.loc[country_filter]

           last_name                      email
first_name
Rahul          Gupta  pcterahulbca21b@gmail.com
surbhi         Gupta  surbhi_bhandari@gmail.com
karishma      Narula        kr_narula@gmail.com

In [29]:
dict_df['last_name'].str.contains('Gupta', na = False)  #na means fill empty values with the False Value

first_name
Rahul        True
surbhi       True
ekta         True
karishma    False
Name: last_name, dtype: bool