In [131]:
import pandas as pd

In [132]:
people = {
    'name':['Rahul','Surbhi','Ekta'],
    'last_name':['Gupta','Bhandari','Sadana'],
    'email':['rahul.gupta@gmail.com','surbhi.bhandari@gmail.com','ekta.sadana@gmail.com']
}

In [133]:
people_df = pd.DataFrame(people)

In [134]:
people_df

     name last_name                      email
0   Rahul     Gupta      rahul.gupta@gmail.com
1  Surbhi  Bhandari  surbhi.bhandari@gmail.com
2    Ekta    Sadana      ekta.sadana@gmail.com

In [135]:
people_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       3 non-null      object
 1   last_name  3 non-null      object
 2   email      3 non-null      object
dtypes: object(3)
memory usage: 200.0+ bytes

In [136]:
people_df

     name last_name                      email
0   Rahul     Gupta      rahul.gupta@gmail.com
1  Surbhi  Bhandari  surbhi.bhandari@gmail.com
2    Ekta    Sadana      ekta.sadana@gmail.com

In [137]:
people_df['email']

0        rahul.gupta@gmail.com
1    surbhi.bhandari@gmail.com
2        ekta.sadana@gmail.com
Name: email, dtype: object

In [138]:
people_df[['last_name','email']]

  last_name                      email
0     Gupta      rahul.gupta@gmail.com
1  Bhandari  surbhi.bhandari@gmail.com
2    Sadana      ekta.sadana@gmail.com

In [139]:
people_df.columns

Index(['name', 'last_name', 'email'], dtype='object')

In [140]:
#loc and iloc
people_df.iloc[[0,1]] #will return the full first and second row
# people_df.iloc[0,1]  will return one single object

     name last_name                      email
0   Rahul     Gupta      rahul.gupta@gmail.com
1  Surbhi  Bhandari  surbhi.bhandari@gmail.com

In [141]:
people_df.iloc[[0,1],[1,2]]
#               rows  columns

  last_name                      email
0     Gupta      rahul.gupta@gmail.com
1  Bhandari  surbhi.bhandari@gmail.com

In [142]:
people_df

     name last_name                      email
0   Rahul     Gupta      rahul.gupta@gmail.com
1  Surbhi  Bhandari  surbhi.bhandari@gmail.com
2    Ekta    Sadana      ekta.sadana@gmail.com

In [143]:
people_df.iloc[1,1] = 'Gupta'   #this change is an inplace change

In [144]:
people_df

     name last_name                      email
0   Rahul     Gupta      rahul.gupta@gmail.com
1  Surbhi     Gupta  surbhi.bhandari@gmail.com
2    Ekta    Sadana      ekta.sadana@gmail.com

In [145]:
people_df['last_name'].value_counts()

Gupta     2
Sadana    1
Name: last_name, dtype: int64

In [146]:
people_df.loc[0:1,'last_name':'email']   #slicing with loc

  last_name                      email
0     Gupta      rahul.gupta@gmail.com
1     Gupta  surbhi.bhandari@gmail.com

In [147]:
people_df

     name last_name                      email
0   Rahul     Gupta      rahul.gupta@gmail.com
1  Surbhi     Gupta  surbhi.bhandari@gmail.com
2    Ekta    Sadana      ekta.sadana@gmail.com

In [148]:
people_df.iloc[0:2]  #with iloc last value is exclusive

     name last_name                      email
0   Rahul     Gupta      rahul.gupta@gmail.com
1  Surbhi     Gupta  surbhi.bhandari@gmail.com

In [149]:
people_df

     name last_name                      email
0   Rahul     Gupta      rahul.gupta@gmail.com
1  Surbhi     Gupta  surbhi.bhandari@gmail.com
2    Ekta    Sadana      ekta.sadana@gmail.com

In [150]:
#setting index
# people_df.set_index('name')
people_df.set_index('name', inplace = True)

In [151]:
people_df

       last_name                      email
name
Rahul      Gupta      rahul.gupta@gmail.com
Surbhi     Gupta  surbhi.bhandari@gmail.com
Ekta      Sadana      ekta.sadana@gmail.com

In [152]:
# people_df.loc['Rahul']
people_df.loc['Ekta','last_name']

'Sadana'

In [153]:
people_df.reset_index(inplace = True)

In [154]:
people_df

     name last_name                      email
0   Rahul     Gupta      rahul.gupta@gmail.com
1  Surbhi     Gupta  surbhi.bhandari@gmail.com
2    Ekta    Sadana      ekta.sadana@gmail.com

In [155]:
people_df.set_index('name', inplace = True)

In [156]:
#sorting the index alphabetically
people_df = people_df.sort_index()

In [157]:
people_df

       last_name                      email
name
Ekta      Sadana      ekta.sadana@gmail.com
Rahul      Gupta      rahul.gupta@gmail.com
Surbhi     Gupta  surbhi.bhandari@gmail.com

In [158]:
#filtering data and applying filters
filt = (people_df['last_name'] == 'Gupta') & (people_df['last_name'] == 'Sadana')

In [159]:
people_df[~filt]
people_df[filt]

Empty DataFrame
Columns: [last_name, email]
Index: []

In [160]:
people_df

       last_name                      email
name
Ekta      Sadana      ekta.sadana@gmail.com
Rahul      Gupta      rahul.gupta@gmail.com
Surbhi     Gupta  surbhi.bhandari@gmail.com

In [161]:
names = ['Sharma','Sadana','Bhandari','Gupta']

last_name_filter = (people_df['last_name'].isin(names))

people_df[last_name_filter]

       last_name                      email
name
Ekta      Sadana      ekta.sadana@gmail.com
Rahul      Gupta      rahul.gupta@gmail.com
Surbhi     Gupta  surbhi.bhandari@gmail.com

In [162]:
people_df.loc['Surbhi','email'] = 'surbhi.bhandari@yahoo.com'

In [163]:
people_df

       last_name                      email
name
Ekta      Sadana      ekta.sadana@gmail.com
Rahul      Gupta      rahul.gupta@gmail.com
Surbhi     Gupta  surbhi.bhandari@yahoo.com

In [164]:
gmail_filter = (people_df['email'].str.contains('gmail', na = False))

In [165]:
people_df.loc[gmail_filter,'last_name']

name
Ekta     Sadana
Rahul     Gupta
Name: last_name, dtype: object

In [166]:
people_df

       last_name                      email
name
Ekta      Sadana      ekta.sadana@gmail.com
Rahul      Gupta      rahul.gupta@gmail.com
Surbhi     Gupta  surbhi.bhandari@yahoo.com

In [167]:
people_df.columns

Index(['last_name', 'email'], dtype='object')

In [168]:
people_df.columns = ['LAST_NAME','EMAIL_ID']

In [169]:
people_df.reset_index(inplace = True)

In [170]:
people_df

     name LAST_NAME                   EMAIL_ID
0    Ekta    Sadana      ekta.sadana@gmail.com
1   Rahul     Gupta      rahul.gupta@gmail.com
2  Surbhi     Gupta  surbhi.bhandari@yahoo.com

In [171]:
people_df.columns = [x.lower() for x in people_df.columns]

In [172]:
people_df

     name last_name                   email_id
0    Ekta    Sadana      ekta.sadana@gmail.com
1   Rahul     Gupta      rahul.gupta@gmail.com
2  Surbhi     Gupta  surbhi.bhandari@yahoo.com

In [173]:
people_df.columns = people_df.columns.str.replace('_', ' ')

In [174]:
people_df

     name last name                   email id
0    Ekta    Sadana      ekta.sadana@gmail.com
1   Rahul     Gupta      rahul.gupta@gmail.com
2  Surbhi     Gupta  surbhi.bhandari@yahoo.com

In [175]:
people_df.columns = people_df.columns.str.replace(' ', '_')

In [176]:
people_df

     name last_name                   email_id
0    Ekta    Sadana      ekta.sadana@gmail.com
1   Rahul     Gupta      rahul.gupta@gmail.com
2  Surbhi     Gupta  surbhi.bhandari@yahoo.com

In [177]:
#updating specific columns

people_df.rename(columns = {'last_name':'Aakhri_Name'}, inplace = True)

In [178]:
people_df

     name Aakhri_Name                   email_id
0    Ekta      Sadana      ekta.sadana@gmail.com
1   Rahul       Gupta      rahul.gupta@gmail.com
2  Surbhi       Gupta  surbhi.bhandari@yahoo.com

In [179]:
#added a new row
#if the row exist then it updates and if it doesn't 
#it creates a new row

people_df.loc[3] = ['Karishma','Narula','karishma.narula@gmail.com']

In [180]:
people_df

       name Aakhri_Name                   email_id
0      Ekta      Sadana      ekta.sadana@gmail.com
1     Rahul       Gupta      rahul.gupta@gmail.com
2    Surbhi       Gupta  surbhi.bhandari@yahoo.com
3  Karishma      Narula  karishma.narula@gmail.com

In [181]:
people_df.rename(columns = {'Aakhri_Name':' last_name'}, inplace = True)

In [184]:
people_df

       name  last_name                   email_id
0      Ekta     Sadana      ekta.sadana@gmail.com
1     Rahul      Gupta      rahul.gupta@gmail.com
2    Surbhi      Gupta  surbhi.bhandari@yahoo.com
3  Karishma     Narula  karishma.narula@gmail.com

In [185]:
people_df.sort_index()

       name  last_name                   email_id
0      Ekta     Sadana      ekta.sadana@gmail.com
1     Rahul      Gupta      rahul.gupta@gmail.com
2    Surbhi      Gupta  surbhi.bhandari@yahoo.com
3  Karishma     Narula  karishma.narula@gmail.com

In [187]:
people_df['last_name']

KeyError: ignored

In [189]:
df = pd.DataFrame(people)

In [190]:
df

     name last_name                      email
0   Rahul     Gupta      rahul.gupta@gmail.com
1  Surbhi  Bhandari  surbhi.bhandari@gmail.com
2    Ekta    Sadana      ekta.sadana@gmail.com

In [191]:
df['last_name']

0       Gupta
1    Bhandari
2      Sadana
Name: last_name, dtype: object

In [192]:
df.loc[2]

name                          Ekta
last_name                   Sadana
email        ekta.sadana@gmail.com
Name: 2, dtype: object

In [194]:
df.loc[2,'last_name'] = 'Sharma'

In [195]:
df

     name last_name                      email
0   Rahul     Gupta      rahul.gupta@gmail.com
1  Surbhi  Bhandari  surbhi.bhandari@gmail.com
2    Ekta    Sharma      ekta.sadana@gmail.com

In [197]:
# df.apply(len)
df['email'].apply(len)

0    21
1    25
2    21
Name: email, dtype: int64

In [200]:
# df.apply(min)
df.apply(pd.Series.min)

name                          Ekta
last_name                 Bhandari
email        ekta.sadana@gmail.com
dtype: object

In [202]:
df.applymap(str.upper)

     name last_name                      email
0   RAHUL     GUPTA      RAHUL.GUPTA@GMAIL.COM
1  SURBHI  BHANDARI  SURBHI.BHANDARI@GMAIL.COM
2    EKTA    SHARMA      EKTA.SADANA@GMAIL.COM

In [203]:
df

     name last_name                      email
0   Rahul     Gupta      rahul.gupta@gmail.com
1  Surbhi  Bhandari  surbhi.bhandari@gmail.com
2    Ekta    Sharma      ekta.sadana@gmail.com

In [206]:
df['name'].replace({'Surbhi':'Karishma'})

0       Rahul
1    Karishma
2        Ekta
Name: name, dtype: object

In [205]:
df

     name last_name                      email
0   Rahul     Gupta      rahul.gupta@gmail.com
1  Surbhi  Bhandari  surbhi.bhandari@gmail.com
2    Ekta    Sharma      ekta.sadana@gmail.com

In [208]:
df.apply(min)

name                          Ekta
last_name                 Bhandari
email        ekta.sadana@gmail.com
dtype: object

In [209]:
df

     name last_name                      email
0   Rahul     Gupta      rahul.gupta@gmail.com
1  Surbhi  Bhandari  surbhi.bhandari@gmail.com
2    Ekta    Sharma      ekta.sadana@gmail.com

In [210]:
df['full_name'] = df['name'] + ' ' + df['last_name']

In [211]:
df

     name last_name                      email        full_name
0   Rahul     Gupta      rahul.gupta@gmail.com      Rahul Gupta
1  Surbhi  Bhandari  surbhi.bhandari@gmail.com  Surbhi Bhandari
2    Ekta    Sharma      ekta.sadana@gmail.com      Ekta Sharma

In [213]:
df.drop(columns = ['name','last_name'], inplace = True)

In [214]:
df

                       email        full_name
0      rahul.gupta@gmail.com      Rahul Gupta
1  surbhi.bhandari@gmail.com  Surbhi Bhandari
2      ekta.sadana@gmail.com      Ekta Sharma

In [215]:
df['first_name','last_name'] = df['full_name'].str.split(' ')

In [218]:
df.drop(columns = [('first_name','last_name')],inplace = True)

In [219]:
df

                       email        full_name
0      rahul.gupta@gmail.com      Rahul Gupta
1  surbhi.bhandari@gmail.com  Surbhi Bhandari
2      ekta.sadana@gmail.com      Ekta Sharma

In [221]:
df[['first_name','last_name']] = df['full_name'].str.split(' ', expand = True)

In [231]:
df

                       email        full_name first_name last_name
0      rahul.gupta@gmail.com      Rahul Gupta      Rahul     Gupta
1  surbhi.bhandari@gmail.com  Surbhi Bhandari     Surbhi  Bhandari
2      ekta.sadana@gmail.com      Ekta Sharma       Ekta    Sharma
3                IskiNoEmail              NaN        NaN       NaN

In [233]:
#removing Rows
df.drop(index = 3,inplace = True)

In [234]:
df

                       email        full_name first_name last_name
0      rahul.gupta@gmail.com      Rahul Gupta      Rahul     Gupta
1  surbhi.bhandari@gmail.com  Surbhi Bhandari     Surbhi  Bhandari
2      ekta.sadana@gmail.com      Ekta Sharma       Ekta    Sharma

In [241]:
df = df.append({'first_name':'Tony'}, ignore_index = True)

In [242]:
df

                       email        full_name first_name last_name
0      rahul.gupta@gmail.com      Rahul Gupta      Rahul     Gupta
1  surbhi.bhandari@gmail.com  Surbhi Bhandari     Surbhi  Bhandari
2      ekta.sadana@gmail.com      Ekta Sharma       Ekta    Sharma
3                        NaN              NaN       Tony       NaN

In [244]:
df.loc[3,'first_name'] = None

In [245]:
df

                       email        full_name first_name last_name
0      rahul.gupta@gmail.com      Rahul Gupta      Rahul     Gupta
1  surbhi.bhandari@gmail.com  Surbhi Bhandari     Surbhi  Bhandari
2      ekta.sadana@gmail.com      Ekta Sharma       Ekta    Sharma
3                        NaN              NaN       None       NaN