In [54]:
"""
List comprehensions
basically whenever we want to reduce our syntax
"""
nums = [1,2,3,4,5,6,7,8,9,10]

my_list = []
for x in nums:
  my_list.append(x)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [57]:
my_list2 = [n for n in nums ]
print(my_list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [59]:
my_list2 = [n*n for n in nums ]
print(my_list2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [61]:
my_list3 = [n for n in nums if n%2 == 0]
print(my_list3)

[2, 4, 6, 8, 10]

In [62]:
#nested for loops in list comprehensions

my_list = [(letter,num) for letter in 'abcd' for num in range(4)]
print(my_list)

[('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

In [67]:
"""
DICITONARY COMPREHENSIONS
"""
names = ['Bruce','Clark','Peter','Logan']
heros = ['Batman','Superman','SpiderMan','HomeLander']

#zip function returns a list of tuples
#taking two lists
#with their adjoining indexes

my_dict = {}
for name,hero in zip(names,heros):
  my_dict[name] = hero
print(my_dict)

{'Bruce': 'Batman', 'Clark': 'Superman', 'Peter': 'SpiderMan', 'Logan': 'HomeLander'}

In [68]:
my_dict = {name:hero for name,hero in zip(names,heros)}
print(my_dict)

{'Bruce': 'Batman', 'Clark': 'Superman', 'Peter': 'SpiderMan', 'Logan': 'HomeLander'}

In [70]:
prime_no = [1,2,3,5,7,13,11,17]
list_prime = [n for n in prime_no]
print(list_prime)

[1, 2, 3, 5, 7, 13, 11, 17]

In [84]:
#if we want, we can easily add restrictions as well

my_dict1 = {name:hero for name,hero in zip(names,heros) if name != 'Peter'}
print(my_dict1)

{'Rahul': 'Batman', 'Lakshya': 'Superman', 'Roshan': 'SpiderMan'}

In [73]:
"""
Set Comprehensions
"""

nums = [1,1,1,2,2,2,3,3,4,4,5,6,6,77,788,88,77,88,1,1]

#my_set = {}
#it will consider it just like an empty dictionary
my_set = set()
for num in nums:
  my_set.add(num)
print(my_set)

{1, 2, 3, 4, 5, 6, 77, 788, 88}

In [74]:
my_set1 = set(num for num in nums)
print(my_set)

{1, 2, 3, 4, 5, 6, 77, 788, 88}

In [75]:
my_set2 = {n for n in nums}

In [76]:
print(my_set2)

{1, 2, 3, 4, 5, 6, 77, 788, 88}

In [86]:
"""
Generator Expressions
"""

nums = [9,8,7,6,5]
my_generator = (n*n for n in nums)
print(my_generator)

<generator object <genexpr> at 0x7fe3a2378cd0>

In [81]:
def simple_Gen():
  yield 1
  yield 2
  return 12

print(simple_Gen())
for value in simple_Gen():
  print(value)

<generator object simple_Gen at 0x7fe3a237ba50>
1
2

In [82]:
nums = [1,2,3]
names =["Rahul","Lakshya","Roshan"]
my_dict = {index:name for index,name in zip(nums,names)}
print(my_dict)

{1: 'Rahul', 2: 'Lakshya', 3: 'Roshan'}