In [1]:
courses = ['History','Math','Physics']

In [2]:
print(courses)

['History', 'Math', 'Physics']

In [3]:
len(courses)

3

In [5]:
#grab the last value from the list
print(courses[len(courses)-1])

Physics

In [6]:
print(courses[0:2])

['History', 'Math']

In [7]:
print(courses[:2])

['History', 'Math']

In [9]:
print(courses[1:])

['Math', 'Physics']

In [10]:
#list methods
courses.append("art")

In [11]:
courses

['History', 'Math', 'Physics', 'art']

In [12]:
courses.insert(2,"ComputerScience") #insert does not removes but adds to the list

In [13]:
courses

['History', 'Math', 'ComputerScience', 'Physics', 'art']

In [15]:
#we use extend method when we have multiple values to add to the list
courses_2 = ['Art','Education']

In [16]:
courses.insert(0,courses_2)

In [17]:
courses

[['Art', 'Education'], 'History', 'Math', 'ComputerScience', 'Physics', 'art']

In [18]:
courses.extend(courses_2) #useful when we want to add a list to a list

In [19]:
courses

[['Art', 'Education'],
 'History',
 'Math',
 'ComputerScience',
 'Physics',
 'art',
 'Art',
 'Education']

In [20]:
courses.remove('Math')

In [21]:
courses.pop()

'Education'

In [22]:
courses

[['Art', 'Education'], 'History', 'ComputerScience', 'Physics', 'art', 'Art']

In [23]:
#to reverse a string
courses.reverse()

In [24]:
courses

['Art', 'art', 'Physics', 'ComputerScience', 'History', ['Art', 'Education']]

In [28]:
courses.remove(courses[5])

In [29]:
courses

['Art', 'ComputerScience', 'History', 'Physics', 'art']

In [31]:
courses.sort() #sorts in alphabetical order

In [32]:
print(courses)

['Art', 'ComputerScience', 'History', 'Physics', 'art']

In [35]:
nums = [6,423,2432,432,566,23,123,32]
nums.sort() #sorts in ascending order
print(nums)

[6, 23, 32, 123, 423, 432, 566, 2432]

In [38]:
nums.sort(reverse=True)  #sorting in descending order
print(nums)

[2432, 566, 432, 423, 123, 32, 23, 6]

In [39]:
courses

['Art', 'ComputerScience', 'History', 'Physics', 'art']

In [41]:
courses.sort(reverse = True)
print(courses)

['art', 'Physics', 'History', 'ComputerScience', 'Art']

In [42]:
#if we dont sort the original list
#instead of using sorted method
#we can use sorted function
sort_course = sorted(courses)
print(sort_course)

['Art', 'ComputerScience', 'History', 'Physics', 'art']

In [43]:
#find index of an element
courses.index('Art')

4

In [44]:
print('Art' in courses)

True

In [45]:
for item in courses:
  print(item)

art
Physics
History
ComputerScience
Art

In [52]:
#enumerate(iterable,startIndex)
list(enumerate(courses,100))

[(100, 'art'),
 (101, 'Physics'),
 (102, 'History'),
 (103, 'ComputerScience'),
 (104, 'Art')]

In [53]:
#enumerate is a built in function which returns elements
#along with their specific indexes
#it returns a list of tuples

In [57]:
for ind,course in enumerate(courses,1):
  print(ind,course)

1 art
2 Physics
3 History
4 ComputerScience
5 Art

In [58]:
#for key,value in courses.items():
 #print(key,va)  
 #item func is used in dictionaries only

In [65]:
#return list into strings
course_str = ". ".join(courses)

In [68]:
#turning a string back into a list
new_list = course_str.split(". ")

In [69]:
new_list

['art', 'Physics', 'History', 'ComputerScience', 'Art']

In [71]:
#sets are unordered lists
#used to remove duplicate values
#or whether a value is present in the set
sets = {'hello','hello','travel','adventure','success'}
print(sets)

{'success', 'hello', 'travel', 'adventure'}

In [73]:
print('hello' in sets)

True

In [74]:
sets_2 = {'hello','hello','love','adventure','money'}
#what elements do two sets have in common
#we can use an intersection method
print(sets.intersection(sets_2))

{'hello', 'adventure'}

In [75]:
#what elements are in one set but not in the other
print(sets.difference(sets_2))

{'travel', 'success'}

In [78]:
sets_3 = sets.union(sets_2) 
#union joining two sets together

In [79]:
sets_3

{'adventure', 'hello', 'love', 'money', 'success', 'travel'}